<h2>My Page</h2>
  <span>
    <i class="fas fa-user-edit fa-lg"></i>
    <%= link_to "ユーザー情報編集", end_users_information_edit_path(@end_user), class:"text-dark" %>
  </span>
<%= render 'list', post_machinekoes: @post_machinekoes %>