<% if post_machineko.favorited_by?(current_end_user) %>
  <span class="card-favorited">
    <%= link_to post_machineko_favorites_path(post_machineko), method: :delete  do %>
      <i class="fas fa-heart"></i><%= post_machineko.favorites.count %>いいね
    <% end %>
  </span>
<% else %>
  <span>
    <%= link_to post_machineko_favorites_path(post_machineko), method: :post  do %>
      <i class="far fa-heart"></i><%= post_machineko.favorites.count %>いいね
    <% end %>
  </span>
<% end %>