<div class="sidebar_item">
  <h4>
    <%= link_to new_post_machineko_path, class:"text-dark" do %>
      <span><i class="fas fa-camera-retro fa-lg"></i>投稿</span>
    <% end %>
  </h4>
</div>

<div class="sidebar_item">
  <h4>
    <%= link_to post_machinekoes_path, class:"text-dark" do %>
      <span><i class="fas fa-cat fa-lg"></i><p>まち猫</p></span>
    <% end %>
  </h4>
</div>


<div class="sidebar_item">
  <h4>
    <%= link_to favorites_my_favorites_path, class:"text-dark" do %>
      <span><i class="far fa-thumbs-up fa-lg"></i>いいね</span>
    <% end %>
  </h4>
</div>